{% extends "base.html" %}

{% block title %}
Detection History
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-success text-white">
            <h3 class="mb-0">
                Detection History
            </h3>
        </div>

        <div class="card-body">

            <table class="table table-bordered table-hover align-middle">

                <thead class="table-success">

                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Crop</th>
                        <th>Disease</th>
                        <th>Confidence</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>

                </thead>

               <tbody>

{% if predictions %}

    {% for prediction in predictions %}

    <tr>

        <td>{{ prediction.id }}</td>

        <td>

            <img src="{{ url_for('static',
                    filename=prediction.image.replace('static/','')) }}"
                 width="80"
                 class="rounded shadow-sm">

        </td>

        <td>

            {{ prediction.crop_name }}

        </td>

        <td class="fw-bold text-danger">

            {{ prediction.disease.replace("___"," - ").replace("_"," ") }}

        </td>

        <td>

            <span class="badge bg-success">

                {{ prediction.confidence }}%

            </span>

        </td>

        <td>

            {{ prediction.created_at.strftime("%d-%m-%Y") }}

        </td>

        <td>

            <a href="{{ url_for('view_prediction', id=prediction.id) }}"
               class="btn btn-primary btn-sm">

                <i class="fa-solid fa-eye"></i>

                View

            </a>

            <a href="{{ url_for('delete_prediction', id=prediction.id) }}"
               class="btn btn-danger btn-sm">

                <i class="fa-solid fa-trash"></i>

                Delete

            </a>

        </td>

    </tr>

    {% endfor %}

{% else %}

<tr>

    <td colspan="7" class="text-center py-5">

        <i class="fa-solid fa-clock-rotate-left fa-3x text-secondary mb-3"></i>

        <h4>No Detection History Found</h4>

        <p class="text-muted">

            Start detecting crop diseases to see your prediction history here.

        </p>

        <a href="{{ url_for('detect') }}"
           class="btn btn-success">

            <i class="fa-solid fa-camera"></i>

            Detect Disease

        </a>

    </td>

</tr>

{% endif %}

</tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}